/* Background */
.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-size: cover;
	background-position: top center;
}

/*  */
.col-8 { margin:0 5px; width:calc(8% - 10px);}
.col-10 { margin:0 5px; width:calc(10% - 10px);}
.col-15 { margin:0 5px; width:calc(15% - 10px);}
.col-25 { margin:0 10px; width:calc(25% - 20px);}
.col-33 { margin:0 10px; width:calc(33% - 20px);}
.col-50 { margin:0 10px; width:calc(50% - 20px);}
.col-75 { margin:0 10px; width:calc(75% - 20px);}
.col-100 { width:100%; }

.col-m-25 { width:25%; }
.col-m-33 { width:33%; }
.col-m-50 { width:50%; }
.col-m-75 { width:75%; }
.col-m-100 { width:100%; }

.fleft { float:left; }
.fright { float:right; }

.tleft { text-align:left; }
.tright { text-align:right; }
.tcenter { text-align:center; }


/* TEMPLATES */
.darkTemplate {
	background: linear-gradient(30deg, rgba(136,147,146,1) 50%, rgba(51,53,50,1) 88%);
	color:#fff;
}
.greenTemplate {
	background: linear-gradient(30deg, rgba(0,205,60,1) 50%, rgba(5,190,59,1) 88%);
	color:#fff;
}

.blueTemplate {
	background: linear-gradient(30deg, rgba(0,40,255,1) 50%, rgba(2,31,187,1) 88%);
	color:#fff;
}
.darkTemplate .contIcon {
	background:#2e342f;
}
.greenTemplate .contIcon {
	background:#04ab34;
}
.blueTemplate .contIcon {
	background:#021ca5;
}
.darkTemplate .contIcon2 {
	background:#2e342f;
}
.greenTemplate .contIcon2 {
	background:#04ab34;
}
.blueTemplate .contIcon2 {
	background:#021ca5;
}
.darkTemplate .divBorder {
	border:1px solid #2e342f;
}
.greenTemplate .divBorder {
	border:1px solid #04ab34;
}
.blueTemplate .divBorder {
	border:1px solid #021ca5;
}

/* TEMPLATES */

.newContentPageRow {
	width:100%;
	display:table;
	margin-bottom:15px;
}

.infoIndexContainer {
	height:auto;
	border-radius:6px;
	box-sizing: border-box;
	margin-bottom:10px;
}

.infoIndexContainerContent {
	padding:15px 15px;
}

.infoIndexContainerContent_header {
	display:table;
	width:100%;
	height:auto;
	margin-bottom:10px;
}

.infoIndexContainerContent_header i {
	font-size:25px;
}

.contIcon {
	padding:10px;
	border-radius:50%;
	display:block;
	height:35px;
	width:35px;
	line-height:40px;
	text-align:center;
	text-shadow: 1px 1px #000;
}

.contIcon b {
	font-size:25px;
	font-weight:bold;
	font-family:"PT Sans Caption", "Ubuntu", "Istok Web", "PT Sans", verdana,tahoma,sans-serif;
}

.contIcon2 {
	padding:10px;
	border-radius:50%;
	display:block;
	height:30px;
	width:30px;
	float:right;
	line-height:30px;
}

.contIcon2 b {
	font-size:25px;
	font-weight:bold;
	font-family:"PT Sans Caption", "Ubuntu", "Istok Web", "PT Sans", verdana,tahoma,sans-serif;
}

.infoIndexContainerContent_body {
	display:table;
	width:100%;
	height:auto;
	position:relative;
}

.loadMoreButtonNew {
	background:transparent;
	border-radius:9px;
	padding: 3px 10px;
	display:table;
	text-align:center;
	float:right;
	cursor:pointer;
}

.infoIndexContainerContent_body h1 {
	margin:0px;
	font-weight:bold;
	font-size:20px;
	text-shadow: 1px 1px #000;
}

.infoIndexContainerContent_body p {
	margin:0px;
	text-shadow: 1px 1px #000;
}

.buttonRow {
    position: absolute;
    bottom: -15px;
    right: -2px;
}

/* Icons */
.icon {
	max-width: 100%;
	height: auto;
	float: right;
}

/* Links */
a {
  text-decoration: none;
  color: white;
}

/* Add a new device */
.w3-container {
	margin: 0px;
	font-weight: bold;
	font-size: 10px;
	text-shadow: 1px 1px #000;
	text-align: center;
	color: white;
}

/* Form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #04AA6D;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 12px 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-bottom: 15px;
  width: 100%;
}

.container {
  border-radius: 5px;
}

.col-25 {
  float: left;
  margin: 0px 5px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-last {
  margin-top: 25px;		
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=button] {
    width: 100%;
    margin-top: 0;
  }
}